<div class="about-page" data-aos="fade-in" data-aos-duration="1000">
    <img src="~/images/About-1.png" alt="About Image" class="w-100" data-aos="zoom-in" data-aos-duration="1200" />

    <div class="welcome-section text-white" data-aos="fade-right" data-aos-duration="1200">
        <h3 class="text-white mb-lg-4" style="font-size: 28px">
            Chào mừng bạn đến với BookNest – tổ ấm dành cho những tâm hồn yêu sách!
        </h3>
        <p style="font-size: 20px; font-family: 'Times New Roman', Times, serif" class="fw-lighter mb-4">
            Tại BookNest, chúng tôi tin rằng mỗi cuốn sách là một cánh cửa mở ra thế giới mới.
            Dù bạn đang tìm kiếm kiến thức, cảm hứng hay những phút giây thư giãn, BookNest luôn sẵn sàng đồng hành
            cùng bạn với hàng ngàn đầu sách đa dạng thuộc nhiều thể loại:
            văn học, kỹ năng sống, kinh tế, thiếu nhi, truyện tranh và nhiều hơn thế nữa.
            <br />
            Với giao diện thân thiện, thanh toán dễ dàng và dịch vụ giao hàng tận nơi nhanh chóng, BookNest cam kết
            mang đến cho bạn trải nghiệm mua sách trực tuyến tiện lợi, an toàn và đầy cảm hứng.
        </p>
        <h5 class="mt-3 fw-bold">BookNest – Nơi những câu chuyện bắt đầu</h5>
    </div>

    <div class="description-section d-flex row" data-aos="fade-up" data-aos-duration="1300">
        <p class="col-8 align-content-center">
            Tại BookNest, chúng tôi cam kết mang đến những cuốn sách chất lượng, dịch vụ tận tâm và trải nghiệm mua sắm trực tuyến dễ dàng, an toàn.
            Với mong muốn lan tỏa văn hóa đọc và kết nối cộng đồng yêu sách,
            chúng tôi luôn nỗ lực để mỗi đơn hàng không chỉ là một giao dịch, mà còn là một hành trình trao gửi tri thức và cảm hứng
        </p>
        <img src="~/images/About-2.jpg" alt="About Image" class="border-1 col-4" data-aos="zoom-in-left" data-aos-duration="1200" />
    </div>
</div>
